.portfolio-container{
    border: 1px outset #f7f7f7;
    width: 80%;
    padding: 3%;
    background-color: #FFFFFF;
    margin-bottom: 70px;
    box-shadow: 5px 10px #888888;
}

.portfolio-image {
    width: 100%;
    height:100%;
    margin-bottom: 20px;
}

h2 {
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: 53px;
    width: 93%;
    text-align: center;
    font-size: 22px;
    
}

.card-text-visit{
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: 34px;
    width: 93%;
    text-align: center;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 3px;
    padding-top: 2px;
}

.card-text-details{
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: 15px;
    width: 93%;
    text-align: center;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 3px;
    padding-top: 2px;
}

.card-text-demo{
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: -5px;
    width: 93%;
    text-align: center;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 2px
}


h6:hover {
    color: black;
}

.portfolio-text-image {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

h5 {
    color: #4cbbb9;
    font-size: 24px;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
  }

  .image-container{
      width: 100%;
      height: 100%;
  }

  .portfolio-text-image:hover .portfolio-image {
    opacity: 0.3;
    background-color: #000;
    
  }
  
  .portfolio-text-image:hover .middle {
    opacity: 1;
  }

  
  .text{
      font-size: 20px;
      font-weight:400 ;
  }

  @media only screen and (max-width: 500px){
      .text{
          font-size: 20px;
      }
  }

  @media only screen and (max-width: 420px){
    .text{
        font-size: 18px;
    }

    h2,
    .card-text-visit,
    .card-text-details,
    .card-text-demo {
        width: 89%
    }
}

@media only screen and (max-width: 560px){
    h2,
    .card-text-visit,
    .card-text-details,
    .card-text-demo {
        width: 91%
    }
}

@media only screen and (min-width: 768px) and (max-width:930px){
    h2,
    .card-text-visit,
    .card-text-details,
    .card-text-demo {
        width: 90%
    }
}

@media only screen and (min-width: 1655px) and (max-width:1920px){
    h2,
    .card-text-visit,
    .card-text-details,
    .card-text-demo {
        width: 95%
    }
}