.portfolio-container{
    border: 1px outset #f7f7f7;
    width: 80%;
    padding: 3%;
    background-color: #FFFFFF;
    margin-bottom: 80px;
    box-shadow: 5px 10px #888888;
}

.portfolio-image {
    width: 490px;
    height: 350px;
    margin-bottom: 20px;
}

h2 {
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: 50px;
    width: 90%;
    text-align: center;
}

h6{
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: 20px;
    width: 90%;
    text-align: center;
}

h2:hover {
    color: black;
    transform: scale(1.1);
}

h6:hover {
    color: black;
    transform: scale(1.1);
}

.portfolio-text-image {
    position: relative;
}

h5 {
    color: #4cbbb9;
    font-size: 24px;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .portfolio-text-image:hover .portfolio-image {
    opacity: 0.5;
  }
  
  .portfolio-text-image:hover .middle {
    opacity: 1;
  }

  .text{
      color: black;
      font-size: 25px;
      font-weight:bold ;
  }

 