.top-body{
    overflow-x: hidden;
}

.buildings{
    height: 400px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    color: #4cbbb9;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    animation: typewriter;
    animation-duration: 12s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: 1;
}

.title::after {
    content: "|";
    position: absolute;
    right: -8px;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes typewriter {
    0% {
      width: 0;
    }
    20%, 80%, 100% {
      width: 5.8em;
    }
  }
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

.subtitle{
    font-size: 25px;
}


.cloud1{
    position: relative;
    z-index: 1;
    animation: cloud1 25s infinite;
}

@keyframes cloud1 {
    from {left: 0px;}
    to {left: 200px;}
  }

.cloud2{
    position: relative;
    right: 200px;
    animation: cloud2 35s infinite;
}

@keyframes cloud2 {
    from {right: 200px;}
    to {right: 50px;}
  }

.cloud3{
position: relative;
left: 200px;
animation: cloud3 20s infinite;
}

@keyframes cloud3 {
    from {left: 200px;}
    to {left: 300px;}
  }


.sun{
    width:100px;
    height: 100px;
    animation: rotate-sun 60s ease-out infinite;
}

@keyframes rotate-sun{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.building-attribution{
font-size: 8px;
background-color: lightgreen;
margin-bottom: 0px;
}

.sun-attribution{
font-size: 8px;
background-color:lightgreen;
margin-bottom: 0px;
}


@media (max-width: 768px){
    .cloud2{
        display: none;
    }
    .cloud3{
        display: none;
    }

    @keyframes cloud1 {
      from {left: 0px;}
      to {left: 150px;}
    }

}

@media (max-width: 480px){
  .title{
    font-size: 35px;
  }

  .subtitle{
    font-size: 22px;
  }
}