.img1{
    height:60px;
    width: 60px;
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px
}

.fa-html5{
    color: #e8505b;
}

.fa-node{
    color: green;
}

.fa-css3-alt{
    color: #1b6ca8
}

.fa-bootstrap{
    color: #6A2C70
}

.fa-react{
    color: lightblue
}

.fa-js{
    color: #f9d56e
}

.card-body{
    box-shadow: 5px 10px #888888;
}

.skills-card{
    margin-bottom: 80px;
}